<div class="bike-routes-show">
  Stations that meet your preferences near <%= @start_location.name %>:
  <% @qualifying_stations.each do |station| %>
    <div>
      <%= station.address %>
    </div>
  <% end %>
</div>

<div class="bike-routes-show">
  Stations that meet your preferences near <%= @end_location.name %>:
</div>

<%= @qualifying_stations.count %>
