<div class="bike-routes-show">
  Stations that meet your preferences near <%= @start_location.name %>:
</div>

<div class="bike-routes-show">
  Stations that meet your preferences near <%= @end_location.name %>:
</div>
